<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bookmarks</title>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline' 'unsafe-eval'"
        />
    </head>
    <body class="p-10">
        <button
            id="form__toggle"
            type="submit"
            class="mb-4 px-4 py-2 border border-transparent rounded-md text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer"
        >
            Add Bookmark (D)
        </button>

        <form id="form" class="hidden">
            <div class="grid grid-cols-3 gap-2 mb-4">
                <label
                    for="form__title"
                    class="block text-sm font-medium text-gray-700"
                >
                    Title
                    <input
                        id="form__title"
                        type="text"
                        class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-white"
                    />
                </label>
                <label
                    for="form__url"
                    class="block text-sm font-medium text-gray-700"
                >
                    URL
                    <input
                        id="form__url"
                        type="text"
                        class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-white"
                    />
                </label>
                <label
                    for="form__shortcut"
                    class="block text-sm font-medium text-gray-700"
                >
                    Shortcut
                    <input
                        id="form__shortcut"
                        type="text"
                        size="1"
                        class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-white"
                    />
                </label>
            </div>
            <button
                type="submit"
                class="mb-4 px-4 py-2 border border-transparent rounded-md text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer"
            >
                Add Bookmark
            </button>
        </form>

        <form id="form--edit" class="hidden">
            <div class="grid grid-cols-3 gap-2 mb-4">
                <label
                    for="form--edit__title"
                    class="block text-sm font-medium text-gray-700"
                >
                    Title
                    <input
                        id="form--edit__title"
                        type="text"
                        class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-white"
                    />
                </label>
                <label
                    for="form--edit__url"
                    class="block text-sm font-medium text-gray-700"
                >
                    URL
                    <input
                        id="form--edit__url"
                        type="text"
                        class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-white"
                    />
                </label>
                <label
                    for="form--edit__shortcut"
                    class="block text-sm font-medium text-gray-700"
                >
                    Shortcut
                    <input
                        id="form--edit__shortcut"
                        type="text"
                        size="1"
                        class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-white"
                    />
                </label>
            </div>
            <button
                type="submit"
                class="mb-4 px-4 py-2 border border-transparent rounded-md text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer"
            >
                Edit Bookmark
            </button>
        </form>

        <div
            class="relative flex flex-col w-full h-full overflow-scroll bg-clip-border"
        >
            <table class="w-full text-left table-auto min-w-max">
                <thead>
                    <tr>
                        <th class="p-4 border-b border-blue-gray-100">
                            <p
                                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
                            >
                                Title
                            </p>
                        </th>
                        <th class="p-4 border-b border-blue-gray-100">
                            <p
                                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
                            >
                                Shortcut
                            </p>
                        </th>
                        <th class="p-4 border-b border-blue-gray-100">
                            <p
                                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
                            ></p>
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>

        <template id="row">
            <tr data-index="">
                <td class="p-4 border-b border-blue-gray-50">
                    <button
                        type="button"
                        class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                        data-id="title"
                    >
                        Title
                    </button>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <p
                        class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                        data-id="shortcut"
                    >
                        Shortcut
                    </p>
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    <button
                        role="button"
                        href="#"
                        class="block font-sans text-sm antialiased font-medium leading-normal text-blue-gray-900 cursor-pointer"
                    >
                        Edit
                    </button>
                </td>
            </tr>
        </template>
    </body>
</html>
