<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bookmarks</title>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline' 'unsafe-eval'"
        />
    </head>
    <body class="p-10">
        <div
            class="relative flex flex-col w-full h-full overflow-scroll bg-clip-border"
        >
            <table class="w-full text-left table-auto min-w-max">
                <thead>
                    <tr>
                        <th class="p-4 border-b border-blue-gray-100">
                            <p
                                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
                            >
                                Title
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>

        <template id="row">
            <tr>
                <td class="p-4 border-b border-blue-gray-50">
                    <button
                        type="button"
                        class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900 cursor-pointer"
                        data-id="title"
                    >
                        Title
                    </button>
                </td>
            </tr>
        </template>
    </body>
</html>
