<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hello World!</title>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline' 'unsafe-eval'"
        />
    </head>
    <body class="p-10">
        <input
            id="address-bar"
            type="text"
            class="w-full text-lg bg-gray-800 p-3 rounded-lg text-white"
            placeholder="Search or enter address (⌘L)"
        />
        <div class="text-gray-500">
            <p>Search the web with Focus Browser</p>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-3">
            <a
                class="p-4 border border-gray-300 m-2 rounded-lg bg-white shadow"
                role="button"
                href="/bookmarks.html"
            >
                <h2 class="text-lg font-semibold mb-2 text-gray-600">
                    Bookmarks (B)
                </h2>
                <p class="text-gray-600">This is a sample card description.</p>
            </a>

            <a
                class="p-4 border border-gray-300 m-2 rounded-lg bg-white shadow"
                role="button"
                href="/history.html"
            >
                <h2 class="text-lg font-semibold mb-2 text-gray-600">
                    History (H)
                </h2>
                <p class="text-gray-600">This is a sample card description.</p>
            </a>
        </div>
    </body>
</html>
