<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Control Centre</title>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self'"
        />
    </head>
    <body
        class="dark:bg-gray-950 dark:text-white min-h-dvh pt-10 pb-10 pr-2 pl-2"
    >
        <section id="root" class="container mx-auto">
            <div class="text-5xl mb-6"></div>
        </section>
    </body>
</html>
