<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Control Centre</title>
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self'"
        />
    </head>

    <body class="dark:bg-gray-950 dark:text-white min-h-dvh py-10">
        <div class="container mx-auto">
            <%=require('html-loader!./fragments/back-button.html').default %>
            <section
                class="flex items-center mb-4 font-bold text-4xl"
                id="section-button"
            ></section>

            <%=require('html-loader!./fragments/input.html').default %>
            <form id="section-form"></form>

            <%=require('html-loader!./fragments/card.html').default %>
            <section
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-2"
                id="section-grid"
            ></section>
        </div>
    </body>
</html>
