<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Popup Blocker</title>
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self'"
        />
    </head>

    <body
        class="dark:bg-gray-950 dark:text-white min-h-dvh pt-10 pb-10 pr-2 pl-2"
    >
        <div class="container mx-auto">
            <div
                class="flex justify-between items-baseline flex-col mb-4 gap-2 md:flex-row"
            >
                <%=require('html-loader!./template-parts/h1.html').default %>
                <%=require('html-loader!./template-parts/back-button.html').default
                %>
                <section id="section-title"></section>
            </div>

            <%=require('html-loader!./template-parts/input.html').default %>
            <section id="section-search"></section>

            <%=require('html-loader!./template-parts/list-row.html').default %>
            <section class="grid" id="section-list"></section>
        </div>
    </body>
</html>
