<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Shortcuts</title>
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self'"
        />
    </head>

    <body
        class="dark:bg-gray-950 dark:text-white min-h-dvh pt-10 pb-10 pr-2 pl-2"
    >
        <div class="container mx-auto" id="section-root">
            <div
                class="flex justify-between items-baseline flex-col mb-4 gap-2 md:flex-row"
            >
                <%=require('html-loader!./template-parts/h1.html').default %>
                <%=require('html-loader!./template-parts/back-button.html').default
                %>
                <section id="section-title"></section>
                <section id="section-version"></section>
            </div>
            <%=require('html-loader!./template-parts/h2.html').default %>
            <%=require('html-loader!./template-parts/input.html').default %>
            <%=require('html-loader!./template-parts/button.html').default %>
            <form id="section-form"></form>
        </div>
        <%=require('html-loader!./template-parts/notification.html').default %>
    </body>
</html>
