<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome</title>
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self'"
        />
    </head>

    <body
        class="dark:bg-gray-950 dark:text-white min-h-dvh pt-10 pb-10 pr-2 pl-2"
    >
        <div class="container mx-auto">
            <%=require('html-loader!./template-parts/h1.html').default %>
            <div
                id="section-root"
                class="flex flex-col min-h-dvh justify-center items-center max-w-4xl m-auto"
            >
                <p class="mt-2 dark:text-slate-400">
                    A single-tab web browser for experts
                </p>
                <%=require('html-loader!./template-parts/input.html').default %>
                <form id="section-form" class="w-full mt-10"></form>

                <%=require('html-loader!./template-parts/card.html').default %>
                <section
                    class="grid grid-cols-2 mt-2"
                    id="section-grid"
                ></section>

                <%=require('html-loader!./template-parts/h2.html').default %>
                <section id="section-bookmarks" class="w-full">
                    <%=require('html-loader!./template-parts/list.html').default
                    %>
                </section>
            </div>
        </div>
    </body>
</html>
