@import 'tailwindcss';

@keyframes notification {
    0% {
        max-height: 0;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    10% {
        max-height: 200px;
    }
    90% {
        max-height: 200px;
    }
    95% {
        opacity: 1;
    }
    100% {
        max-height: 0;
        opacity: 0;
    }
}

.notification {
    animation-name: notification;
    animation-duration: 5s;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.loading {
    animation-duration: 2.5s;
}

.list--welcome {
    grid-template-columns: 40px minmax(200px, 1fr);
}

.list--bookmarks {
    grid-template-columns:
        max-content minmax(200px, 1fr)
        max-content max-content max-content;
}

.list--bookmarks :nth-child(4n + 1) h3 {
    margin-right: calc(var(--spacing) * 2);
}

.list--anchors {
    grid-template-columns: minmax(200px, 1fr) max-content;
}

.list--anchors :nth-child(n + 1) h3 {
    margin-right: calc(var(--spacing) * 2);
}

.list--history {
    grid-template-columns: minmax(200px, 1fr) max-content;
}

.list--history :nth-child(n + 1) h3 {
    margin-right: calc(var(--spacing) * 2);
}

.list--cloud-items {
    grid-template-columns: max-content max-content minmax(200px, 1fr);
}

.list--cloud-items :nth-child(3n + 1) h3 {
    margin-right: calc(var(--spacing) * 2);
}

.list--cloud-items :nth-child(3n + 2) h3 {
    margin-right: calc(var(--spacing) * 2);
}

.h2--shortcuts {
    grid-column-end: 3;
    grid-column-start: 1;
}

.section-disabled {
    opacity: 0.5;
}
