@import 'tailwindcss';

@keyframes notification {
    0% {
        max-height: 0;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    10% {
        max-height: 200px;
    }
    90% {
        max-height: 200px;
    }
    95% {
        opacity: 1;
    }
    100% {
        max-height: 0;
        opacity: 0;
    }
}

.notification {
    animation-name: notification;
    animation-duration: 5s;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.loading {
    animation-duration: 2.5s;
}

.list__item--colspan-2-2 {
    grid-column: 2 / span 2;
}

.list--welcome {
    grid-template-columns: max-content max-content minmax(200px, 1fr);
}

.list--bookmarks {
    grid-template-columns:
        max-content max-content minmax(200px, 1fr)
        max-content max-content;
}

.list--anchors {
    grid-template-columns: max-content minmax(200px, 1fr) max-content;
}

.list--history {
    grid-template-columns: max-content minmax(200px, 1fr) max-content;
}

.list--cloud-items {
    grid-template-columns:
        max-content max-content minmax(200px, 1fr)
        max-content;
}

.h2--shortcuts {
    grid-column-end: 3;
    grid-column-start: 1;
}

.section-disabled {
    opacity: 0.5;
}

.view--find {
    grid-template-columns:
        minmax(200px, 1fr)
        max-content max-content max-content max-content;
}
