<template id="list-row">
    <div
        data-selector="row"
        class="border-transparent border-b border-b-slate-700 py-2 grid grid-cols-[max-content_1fr_max-content] items-center w-full"
    >
        <span data-selector="prefix"></span>
        <button role="button" class="cursor-pointer" data-selector="content">
            <h3
                class="font-bold text-lg text-gray-600 dark:text-gray-200 text-left"
            ></h3>
            <p class="text-gray-500 dark:text-gray-400 text-left"></p>
        </button>
        <span data-selector="suffix"></span>
    </div>
</template>
