<section id="section-user-info" class="hidden self-end">
    <div
        class="flex items-center justify-center bg-primary rounded-full p-0.5 h-9 md:pr-2.5 button button--primary cursor-pointer"
        data-selector="logged-in"
    >
        <picture
            class="flex items-center justify-center w-8 h-8 rounded-full bg-white md:mr-1 overflow-hidden"
        >
            <img
                alt="Profile"
                width="35"
                height="35"
                class="w-8 h-8"
                id="section-user-picture"
            />
        </picture>
        <span class="max-md:hidden text-white font-light text-xs"
            >You are logged-in</span
        >
    </div>
    <div data-selector="log-in" class="hidden"></div>
</section>
